body {
    background: #8c52ff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

iframe {
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: 0px;
    height: 433px;
    width: 770px;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}